@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&family=Dancing+Script:wght@700&family=Noticia+Text:ital@1&family=Playfair+Display:wght@600&display=swap');

:root {
    --primary-dark: rgb(49, 48, 48);
    --primary-green: rgb(198, 252, 52);
}

.Container {
    /* border: 2px solid white; */
    width: 50%;
    display: block;
    margin: auto;
    font-size: 35px;
}

body {
    background-color: var(--primary-dark);
    color: var(--primary-green);
    font-family: 'Playfair Display', serif;
}

h1 {
    text-align: center;
    font-size: 50px;
}

label,
input,p {
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 0.7rem;
}

input {
    width: 15rem;
    height: 1.2rem;
}

button {
    margin-left: 14rem;
    width: 15rem;
    height: 2rem;
    background-color: var(--primary-green); 
    color: var(--primary-dark);
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
    font-size: medium;
    margin-top: 3rem;
    margin-bottom:3rem;
}
button:hover{
    background-color: rgb(33, 255, 4);
    color: white;
}
@media screen and (max-width: 300px) {
    .Container{
        display: flex;
        flex-direction: column;
        font-size: medium;
        /* margin: auto; */
     }
     input{
        width: 7rem;
     }
     button{
        margin-left: 2.5rem;
        width: 5rem; 
     }
     h1{
        font-size: large;
     }
}
@media ( max-width:375px) and (min-width:320px){
    
    .Container{
        border: 2px solid white;
        display: flex;
        flex-direction: column;
        font-size: larger;
        
     }
     input{
        width: 9rem;
     }
     button{
        margin-left: 2rem;
        width: 7rem; 
     }
     h1{
        font-size: 1.5rem;
     }
}
@media(min-width:376px)and (max-width:425px){
    .Container{
        /* border: 2px solid white; */
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        
     }
     input{
        width: 13rem;
     }
     button{
        margin-left: 2rem;
        width: 9rem; 
     }
     h1{
        font-size: 3rem;
     }
}
@media(min-width:450px)and (max-width:550px){
    .Container{
        display: flex;
        flex-direction: column;
        font-size: 2.4rem;   
     }
     input{
        width: 15rem;
     }
     button{
        margin-left: 2.4rem;
        width: 12rem; 
     }
     h1{
        font-size: 3rem;
     }
}
@media(min-width:560px)and (max-width:800px){
    .Container{
        display: flex;
        flex-direction: column;
        font-size: 2.9rem;
     }
     input{
        width: 17rem;
        height: 1.9rem;
     }
     button{
        margin-left: 4rem;
        width: 15rem; 
        height: 2.5rem;
     }
     h1{
        font-size: 4rem;
     }
}
@media(min-width:801px) and (max-width:1000px){
    .Container{
        font-size: 3rem;
    }
    input{
        width: 20rem;
        height: 3rem;
     }
     button{
        margin-left: 4rem;
        width: 22rem; 
        height: 3rem;
     }
     h1{
        font-size: 5rem;
     }

}

